
BODY
 {margin: 10px;	margin-top: 0px;margin-left: 10px;	width: 100%;font-family: Arial, Helvetica, sans-serif; font-size: 12pt;  bgcolor="#e7e7e7"; text="black";}

.forminput { text-decoration: none; font-family: Arial, Helvetica, sans-serif;font-size: 8pt; 	font-weight : normal; }

.forminputsmall { text-decoration: none;font-family: Arial, Helvetica, sans-serif; 	font-size: 7pt; 	font-weight : normal; }

.formbutton { text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 8pt; 
	font-weight : normal;}

h1 {COLOR: #244360;}
h2 {COLOR: #244360;}
h3 {COLOR: #244360;}
h4 {COLOR: #244360;}
h5 {COLOR: #244360;}

A:link {
	COLOR: #244360; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #244360; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TD {FONT-SIZE:14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}




