h1 {color: #0000CD;}
h2 {color: #00008B;}
header{
	background: url(image/build.png) no-repeat, url(image/topsp.png);
	height: 212px; /* Высота блока */
	margin: 0;
  }
body{padding: 0}

.header_maintitle{
	color:	#fff;
	text-align: right;
	padding: 50px 50px 0 0;
	font-size: 30px;
	margin-top: 0; }

.header_title{
	color:	#fff;
	text-align: right;
	padding: 0 50px 0 0;
	font-size: 25px;
 }

#top{
  text-align: left; 
  width: 850px; 
  margin-right: auto; 
  margin-left: auto; 
  padding: 10px; 
 }

 #container {
  width: 1000px; 
  margin-right: auto; 
  margin-left: auto; 
 }

 #left {
  width: 400px; 
  height: 400px;
  float: left; 
  color: white; 
  background: #4682B4; 
  padding: 10px; 
 }

 #right { 
    width: 550px; 
    height: 400px; 
    float: left; 
    padding: 10px; 
    background: #e0e0e0; 
   }

   #bottom{
	width:900px; 
	clear:left; 
	padding: 10px; 
    margin-right: auto; 
    margin-left: auto; 
	}


table, td
{
border:1px solid 	#FFFFFF;
}
