h1 {color: #0000CD;}
h2 {color: #00008B;}
header{
	background: url(image/build.png) no-repeat, url(image/topsp.png);
	height: 212px; /* Высота блока */
	margin: 0;
  }

.header_maintitle{
	color:	#fff;
	text-align: right;
	padding: 50px 50px 0 0;
	font-size: 30px;
 }

.header_title{
	color:	#fff;
	text-align: right;
	padding: 0 50px 0 0;
	font-size: 25px;
 }

#top{
  text-align: left; /* Выравнивание внутреннего контента по левому краю */
  width: 750px; /* Ширина блока и общая ширина*/
   /* Цвет фона */
  
  margin-right: auto; /* Авто-отступ справа */
  margin-left: auto; /* Авто-отступ слева */
  padding: 10px; /* Внутренние поля вокруг содержимого */
 }

 #container {
  width: 950px; /* Ширина слоя или (ширина макета+20) */
  margin-right: auto; /* Авто-отступ справа */
  margin-left: auto; /* Авто-отступ слева */
 }

 #left {
  width: 400px; /* Ширина слоя */ 
  float: left; /* Обтекание с соседним слоем */ 
  color: white; /* Цвет текста */
  background: #008080; /* Цвет фона */
  padding: 10px; /* Внутренние поля вокруг содержимого */
 }

 #right { /* Правая колонка*/ 
    width: 550px; /* Ширина слоя */ 
    float: right; /* Обтекание с соседним слоем */ 
    padding: 10px; /* Внутренние поля вокруг содержимого */ 
    background: #e0e0e0; /* Цвет заднего фона */  
   }

   #bottom{
	width:750px; /* Ширина слоя */
	clear:left; /* возвращаем блочность и располагаем слой слева */
	padding: 10px; /* Внутренние поля вокруг содержимого */
        background:#444; /* фон */
	color:#fff; /* цвет текста */
        margin-right: auto; /* Авто-отступ справа */
        margin-left: auto; /* Авто-отступ слева */
}