BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; BACKGROUND-COLOR: #fff;}
TABLE {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif
}
TR {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif
}
div.text {margin: -1px 5px 0 5px;}
#slide {Position: Absolute;Left: 5;Top: 110;Visibility: Visible;}
li{list-style-image: url(img/li_blue.gif);}
a:link { text-decoration: none; color: blue }
a:visited { text-decoration: none; color: darkblue }
a:active { text-decoration: none; color: blue }
a:hover { color: #465584; text-decoration:none }
.sod{background:goldenrod;color:indigo;}
.klsod{background:#00FF00;color:#800000;}
.menudin{color:#FF0000;font-size:10px;cursor:n-resize;text-decoration:none;}
.menu{color:#665702;font-weight:bold;font-size:120%;font-family:sans-serif,Times New Roman;}
.data{color:#000000;font-size:11px;}
.colfon{background:#ffffcc;}
.hand( cursor: hand}
.strgip{color:#0000ff; font-size:14px;}
.menucap{color:#000000;background:#e8f1c7;BORDER-BOTTOM:#000000 1px solid;BORDER-LEFT:#000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana, Arial; font-size: 24px; font-weight: bold}
.kth{font-size:14px;}
.titd{font-size:10px;}
.l{BORDER-TOP: #000000 1px solid;}
.frm{border-style: solid; border-width: 1px; border-color: #8F8F8F; BACKGROUND-COLOR:#E4EAF2; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 12px;}
.frm_color{BACKGROUND-COLOR:#E4EAF2; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 12px}
.frm0{FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 12px}
.frm1{FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 12px; color: #000000; border: 1px #B9B9B9 solid}
.frm2{border-style: solid; border-width: 1px; border-color: #8F8F8F; BACKGROUND-COLOR:#78B1F3; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 12px; background-image: url(img/tf.gif);}
.frm22{border-style: solid; border-width: 1px; border-color: #8F8F8F; BACKGROUND-COLOR:#78B1F3; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 12px; background-image: url(img/tf2.gif);}
.frm3{border-style: solid; border-width: 1px; border-color: #8F8F8F; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 12px}
.m1{FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 14px}
.m2{FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; FONT-SIZE: 11px}
.pr{text-decoration: underline; color: blue}
.primer{background-color:#eeeeee;}
.tit{BORDER-BOTTOM:#000000 1px solid;BORDER-LEFT:#000000 1px solid; BORDER-RIGHT: #000000 1px solid; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 12px}
.d{BORDER-TOP: #000000 1px solid;}
.sp{font-size: 11px;}
fieldset{ FONT-FAMILY: Verdana, Arial; FONT-SIZE: 12px;}body {  background-color: #FFFFFF}
.frm11 { FONT-FAMILY: Verdana, Arial; FONT-SIZE: 12px; color: #000000}
.rb{BORDER-RIGHT:#000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 11px}
.lb{BORDER-LEFT:#000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 11px}
.rl{BORDER-RIGHT:#000000 1px solid; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 11px}
.ll{BORDER-LEFT:#000000 1px solid; FONT-FAMILY: Verdana, Arial; FONT-SIZE: 11px}
.unnamed1 {  }
