A.head {
	FONT-SIZE: 9pt; FONT-FAMILY: Times
}
A.plain {
	COLOR: navy; TEXT-DECORATION: none
}
.topic {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #005050; FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
P.topic1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
P.header {
	FONT-WEIGHT: bold; COLOR: #000000
}
H1 {
	FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
H2 {
	FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
H3 {
	FONT-SIZE: 16pt; FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
H4 {
	FONT-SIZE: 14pt; FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
H5 {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
H6 {
	FONT-SIZE: 11pt; FONT-FAMILY: Arial Cyr, Arial, sans-serif
}
.earlink {
	FONT-SIZE: 10pt; FONT-FAMILY: serif
}
TABLE.ad TD {
	VERTICAL-ALIGN: top
}
TABLE.ad A {
	TEXT-DECORATION: none
}
TABLE.ad DIV {
	FONT-SIZE: 9pt; MARGIN: 3pt; FONT-FAMILY: Times
}
DIV.ad-head {
	FONT-WEIGHT: bold; COLOR: navy; TEXT-DECORATION: underline
}
DIV.ad-body {
	COLOR: black
}
DIV.ad-site {
	COLOR: red; FONT-FAMILY: helvetica
}
DIV.ad-url {
	COLOR: red; FONT-FAMILY: helvetica
}
TABLE.go TD {
	VERTICAL-ALIGN: top
}
TABLE.go A {
	TEXT-DECORATION: none
}
TABLE.go DIV {
	FONT-SIZE: 9pt; MARGIN: 3pt; FONT-FAMILY: Times
}
DIV.go-head {
	FONT-WEIGHT: bold; COLOR: navy; TEXT-DECORATION: underline
}
DIV.go-body {
	COLOR: black
}
DIV.go-site {
	COLOR: red; FONT-FAMILY: helvetica
}
P.go-line {
	FONT-WEIGHT: bold; COLOR: darkblue; TEXT-ALIGN: center
}
UL.column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
