BODY {
	COLOR: #444444; FONT-FAMILY: 'MS Sans Serif', 'Geneva'; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
TABLE {
	COLOR: #444444; FONT-FAMILY: 'MS Sans Serif', 'Geneva'; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
TD {
	COLOR: #444444; FONT-FAMILY: 'MS Sans Serif', 'Geneva'; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
TR {
	COLOR: #444444; FONT-FAMILY: 'MS Sans Serif', 'Geneva'; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
UL {
	LIST-STYLE: none url(/img/ziro.gif); MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 6pt; MARGIN-TOP: 2pt; TEXT-INDENT: 0cm
}
LI {
	LIST-STYLE: none url(/img/ziro.gif); MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 6pt; MARGIN-TOP: 2pt; TEXT-INDENT: 0cm
}
INPUT {
	BORDER-BOTTOM: #409900 2px solid; BORDER-LEFT: #409900 1px solid; BORDER-RIGHT: #409900 1px solid; BORDER-TOP: #409900 2px solid; COLOR: #000000; FONT-FAMILY: 'ms sans serif'; FONT-SIZE: 8pt
}
SELECT {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; COLOR: black; FONT-FAMILY: ; FONT-SIZE: 8pt
}
FORM {
	COLOR: #005500; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
A {
	COLOR: #000000; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-SIZE: 8pt
}
A:hover {
	COLOR: #000000; FONT-SIZE: 8pt; TEXT-DECORATION: underline
}
A.zak {
	FONT-SIZE: 10pt
}
A.zak:link {
	FONT-SIZE: 10pt
}
A.zak:visited {
	FONT-SIZE: 10pt
}
A.zak:active {
	FONT-SIZE: 10pt
}
A.zak:hover {
	FONT-SIZE: 10pt
}
A.books {
	COLOR: #006600
}
A.books:link {
	COLOR: #006600
}
A.books:visited {
	COLOR: #006600
}
A.books:active {
	COLOR: #006600
}
A.books:hover {
	COLOR: #006600
}
A.basketwhite {
	COLOR: #ffffff
}
A.promier {
	COLOR: #990000
}
A.promier:link {
	COLOR: #990000
}
A.promier:visited {
	COLOR: #990000
}
A.promier:active {
	COLOR: #990000
}
A.promier:hover {
	COLOR: #990000
}
A.bblack:link {
	COLOR: #000000; FONT-WEIGHT: bold
}
A.bblack:visited {
	COLOR: #000000; FONT-WEIGHT: bold
}
A.bblack:active {
	COLOR: #000000; FONT-WEIGHT: bold
}
A.bblack:hover {
	COLOR: #000000; FONT-WEIGHT: bold
}
A.news:link {
	COLOR: #000000
}
A.news:visited {
	COLOR: #000000
}
A.news:active {
	COLOR: #000000
}
A.news:hover {
	COLOR: #000000
}
A.blu {
	COLOR: #004099
}
A.blu:link {
	COLOR: #004099
}
A.blu:visited {
	COLOR: #004099
}
A.blu:active {
	COLOR: #004099
}
A.blu:hover {
	COLOR: #004099
}
A.bl2u {
	COLOR: #200099
}
A.bl2u:link {
	COLOR: #200099
}
A.bl2u:visited {
	COLOR: #200099
}
A.bl2u:active {
	COLOR: #200099
}
A.bl2u:hover {
	COLOR: #200099
}
A.red {
	COLOR: #770077
}
A.red:link {
	COLOR: #770077
}
A.red:visited {
	COLOR: #770077
}
A.red:active {
	COLOR: #770077
}
A.red:hover {
	COLOR: #770077
}
A.re2d {
	COLOR: #994000
}
A.re2d:link {
	COLOR: #994000
}
A.re2d:visited {
	COLOR: #770000
}
A.re2d:active {
	COLOR: #770000
}
A.re2d:hover {
	COLOR: #770000
}
A.model {
	COLOR: #407700
}
A.model:link {
	COLOR: #407700
}
A.model:visited {
	COLOR: #407700
}
A.model:active {
	COLOR: #407700
}
A.model:hover {
	COLOR: #407700
}
A.katbookbig:link {
	COLOR: #000000; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
A.katbookbig:visited {
	COLOR: #000000; FONT-WEIGHT: bold
}
A.katbookbig:active {
	COLOR: #000000
}
A.forum {
	COLOR: #990000; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-WEIGHT: bold
}
A.forum:link {
	COLOR: #990000
}
A.forum:visited {
	COLOR: #336633
}
A.forum:hover {
	COLOR: #990000
}
A.forumname {
	COLOR: #005500; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-WEIGHT: bold
}
A.forumname:link {
	COLOR: #005500; FONT-SIZE: 8pt
}
A.forumname:visited {
	COLOR: #999999
}
A.forumname:hover {
	COLOR: #222222
}
A.cattopto {
	FONT-FAMILY: 'MS Sans Serif', COLOR: #003300; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
A.cattopto:link {
	FONT-FAMILY: 'MS Sans Serif', COLOR: #003300; FONT-SIZE: 11pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.cattopto:visited {
	FONT-FAMILY: 'MS Sans Serif', COLOR: #333300; TEXT-DECORATION: none
}
A.cattopto:active {
	FONT-FAMILY: 'MS Sans Serif', COLOR: #00aa00; TEXT-DECORATION: none
}
A.cattopto:hover {
	FONT-FAMILY: 'MS Sans Serif', COLOR: #336633
}
A.titlarge {
	COLOR: #003300; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.titlarge:hover {
	TEXT-DECORATION: none
}
P {
	MARGIN-BOTTOM: 0em; MARGIN-TOP: 0em
}
P.first {
	TEXT-ALIGN: justify
}
P.obiavlen {
	MARGIN-BOTTOM: 1em; MARGIN-TOP: 0em; TEXT-INDENT: 15px
}
A.PredZakaz {
	COLOR: #804040; FONT-SIZE: 8pt; TEXT-DECORATION: underline
}
A.PredZakaz:visited {
	COLOR: #804040; FONT-SIZE: 8pt; TEXT-DECORATION: underline
}
A.PredZakaz:hover {
	COLOR: #804040; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
