A:link {
	COLOR: #ffffb8; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffb8; TEXT-DECORATION: none
}
A:active {
	COLOR: #ffffb8; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffb8; TEXT-DECORATION: underline
}
BODY {
	BACKGROUND: #425294; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,sans-serif; FONT-SIZE: 8pt
}
P {
	TEXT-INDENT: 1cm
}
.pn {
	TEXT-INDENT: 0cm
}
.mainmnu {
	FONT-SIZE: 12px; FONT-WEIGHT: 800
}
.maintxt {
	FONT-SIZE: 12px; FONT-WEIGHT: 700
}
.tabl {
	FONT-FAMILY: Verdana,Arial,sans-serif; FONT-SIZE: 8pt
}
