A:link {
	COLOR: #fbbcac; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f1661b
}
A:visited {
	COLOR: #fbae9b; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f1661b; FONT-STYLE: italic
}
TD {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt
}
P {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; TEXT-INDENT: 15pt
}
UL {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt; LIST-STYLE: url(i/list.gif); TEXT-ALIGN: justify
}
OL {
	FONT-FAMILY: Arial; FONT-SIZE: 10pt
}
H1 {
	COLOR: #fbbcac; FONT-FAMILY: Arial; FONT-SIZE: 20pt; FONT-WEIGHT: bold
}
H2 {
	BACKGROUND-COLOR: #334775; COLOR: #fbbcac; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN-LEFT: 15pt; MARGIN-RIGHT: -10pt
}
H3 {
	COLOR: #fbbcac; FONT-FAMILY: Arial; FONT-SIZE: 15pt; FONT-WEIGHT: bold
}
.small {
	FONT-SIZE: 9pt; TEXT-INDENT: 0px
}
.cou {
	FONT-FAMILY: Courier New; TEXT-INDENT: 0px
}
#l {
	COLOR: #eb8c6c
}
