.text { color: #005; font-size: 16px; font-style: normal; text-decoration: none; text-align: left }
.bgr  { background-color: #fff; background-image: url(img/top.jpg); background-repeat: no-repeat; background-attachment: scroll }
.head { color: #001; font-size: 18px; font-style: italic; font-weight: bold; text-decoration: none; text-align: center }
.list  { list-style-type: circle; list-style-image: url(img/Check2.bmp) }
td {color:#005;font-style:italic; font-weight: bold;font-size:16pt}
span {color:#001; font-weight: bold;font-size:16pt;text-align: center}