h1{}
	pre{font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;	
	line-height: 130%;
	}
	.gr{color: #1A691A; font-style: normal; font-weight: bold; }
	.bl{color: #000000; font-style: normal; font-weight: bold; }	
	.red{color: #95001E; font-style: normal; font-weight: bold; }
	.comnt{color: #244ECC; font-style: normal; font-weight: noramal;}
	.codehtml{background-color: #EEEEEE; padding: 20px; color: #112BA5; margin-top: 5px}
	.codephp{color: #000000}