BODY {color:#000000; background:#ffffff; FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE:10pt}
TD {FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE:10pt}
TH {FONT-FAMILY: Verdana,arial,helvetica,sans-serif; FONT-SIZE:10pt}
P {MARGIN-BOTTOM:10pt; MARGIN-TOP:10pt}
DT {MARGIN-BOTTOM:5pt; MARGIN-TOP:13pt}
EM {FONT-STYLE: italic; FONT-WEIGHT: bold}
LI {MARGIN-BOTTOM:6pt;}
UL {MARGIN-BOTTOM:2pt; MARGIN-TOP:10pt}
OL {MARGIN-BOTTOM:2pt; MARGIN-TOP:10pt}
PRE {FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace; FONT-SIZE:10pt}
A:link {COLOR:#0000dd; TEXT-DECORATION: none}
A:visited {COLOR:#551188; TEXT-DECORATION:none}
A:hover {background-color:#ffcccc; COLOR:#3333ff; TEXT-DECORATION:underline}
A:active {COLOR:#ff00ff}
A.nav {COLOR:#000066; TEXT-DECORATION:none; FONT-WEIGHT:bold}
A.nav:hover {COLOR:#000066; TEXT-DECORATION:underline; FONT-WEIGHT:bold}
H1 {COLOR:#000066; FONT-FAMILY: tahoma,arial,helvetica,sans-serif; FONT-SIZE:18pt; FONT-WEIGHT:bold; MARGIN-TOP:15pt; MARGIN-BOTTOM:5pt}
H2 {COLOR:#000066; FONT-FAMILY: tahoma,arial,helvetica,sans-serif; FONT-SIZE:14pt; FONT-WEIGHT:bold; MARGIN-BOTTOM:5pt}
H3 {COLOR:#000066; FONT-FAMILY: tahoma,arial,helvetica,sans-serif; FONT-SIZE:12pt; FONT-WEIGHT:bold; MARGIN-BOTTOM:5pt}
H5 {MARGIN-BOTTOM:8pt; MARGIN-TOP:8pt;}
H6 {text-align:center; COLOR:#000066; FONT-FAMILY: tahoma,arial,helvetica,sans-serif; FONT-SIZE:12pt; FONT-WEIGHT:bold; MARGIN-BOTTOM:8pt; MARGIN-TOP:8pt;}
SMALL {FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE:8.5pt}
table{MARGIN-TOP:0pt;}
TABLE.warning{MARGIN-TOP:0pt; border-color:#B22222; background-color:#EEE8AA; border-width:2;
font-weight:bold; font-family: Arial, Helvetica, sans-serif; border-spacing:0px;}
TABLE.caution {MARGIN-TOP:0pt; border-color:#B22222; background-color:#EEE8AA; border-width:2;
font-weight:bold; font-family: Arial, Helvetica, sans-serif; border-spacing:0px;}